/*body, and paragraph should be uniform through most of the code */

body {
    background: rgb(19, 30, 34);
    text-align: center;
    
 }  

 p{
     margin-left: 15px;
     font-size: 20px;
 }

 /*Increase Font size while you hover over paragraph text inside a div*/
 div p:hover{
     font-size: 22px;
 }

 /*header and footer are pretty much the same*/
 header, footer {
    background: rgb(0, 204, 255);
    width: 100%;
    font-size: 24px;
    padding-top: 10px;
 }

    /*footer had some special cases*/
 footer{
    position: relative;
    bottom: 0px;
    float: bottom;
    clear: both;
 }

 /*on the contact table - hovering a row should change the color to this shade of red*/
 #contact tr:hover, th:hover{
        background: rgb(102, 255, 204);
 }

 /* I put these together to show a concept. #contact tr:hover is red; but overall td:hover is blue.
 hover over the contact table to see the cell highlighted blue but the row highlighted red*/
 th:hover, td:hover {
    background-color: #2592b3;   
    
}

/*hard to see blanched almond on that red background  */
tr:hover a{
    color: black;
    
}
/*put all the table stuff together*/
th,td{
    border: 1px solid rgb(255, 255, 255);
    font-size: 18px;
}

tr a{
    color: aqua;
}
 
/* put all navigation elements together*/
 nav {
    text-align: right;
    background: rgba(60, 60, 54, 0.326);
    line-height: 50px;
    word-spacing: 15px; /*space between words, I started at 20 and moved up to 50 then 70*/
    font-size: 5px;
    padding-right: 7px;
 } 

/*link text to black*/
 nav a{
    color: black;
}
/*hover link text to white*/
 nav a:hover{
        color: white;
 }

/*nav list items will display inline, no bullet points*/
 nav li {
    display: inline;
    font-size: 24px;

}
 
 article {
    background: black;
    color: rgb(255, 255, 255);
    overflow: hidden;
    clear: both;
    padding: 10px;
 }
 
 article p{
    text-align: center;
}

 form{
     margin-left: auto;
     margin-right: auto; /*center the form*/
     width: 70%;
     text-align: left;
     color: rgb(255, 255, 255);
     display: table;
 }

 /*formatting the text inputs*/
 input[type=text], select {
    width: 50px;
    padding: 6px 10px;
    margin: 4px 0;
    display: table-cell;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    align-items: left;
}
/*big buttons*/
input[type=button], input[type=reset]{
    width: 70%;
    padding: 18px 24px;
    margin: 4px 0;
    border: 3px solid rgb(45, 122, 173);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 24px;
    align-items: center;
    background-color: rgb(189, 185, 181);
}
/*in focus, change the color*/
input:focus {
    background-color: rgb(235, 236, 126)
  }

label {
  
    display: table-cell;
    align-items: left;
    padding: 10px;
    
}

.row
{
    display: table-row; 
    align-items: center;  
    font-size: 24px;
    
}

/*standard css formatting*/
h2{    
    color: rgb(255, 255, 255);
    text-align: left;
}

div > h2 {
    color: rgb(255, 255, 255);
}


/*all about class '.' styling placed together*/
.about{
    width: 100%;    
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    
}

.about li{
    text-align: left;
}

/* all div elements together */
div li{
    font-size: 20px;
    text-align: left;
    padding: 5px;    
}
/*Ex: As seen on our_mission page when hovering */
div li:hover{
    font-size: 22px;
    color: rgb(46, 127, 173);
}

div > img {
    display: inline;
}

div a{
    color:aqua;
 }


/*grid container setup*/
#grid-container {
    display: grid;
    grid-template-columns: 30% auto 30%;
 }

 #grid-container > div {
    background: black;
    color:rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
 }



 #hours p:hover{
    text-decoration: underline;
 }


 h3 > strong {
     padding: 0px;
     font-size: 24px;
 }
 #quote {
    position: absolute; 
          top: 300px; 
          left: 100px; 
          right: 300px; 
          bottom: 0; 
          margin: auto; 
          min-width: 50%;
          min-height: 50%;
 }
.founders {
		margin-left:auto;
		margin-right:auto;
		border-spacing:10px;
		text-align:center;
		width:100%;
		color:rgb(255, 255, 255);
		}
	 #foundersText {
		font-size:20pt;
		text-align:wrap;
		}
.mission {
        text-align: center;
		margin-left:auto;
		margin-right:auto;
		border-spacing:10px;
		color:rgb(255, 255, 255);
	}

/*#bg {
        position: fixed; 
        top: -50%; 
        left: -50%; 
        width: 200%; 
        height: 200%;
         }
#bg > img {
        position: absolute; 
        top: 200px; 
        left: 500px; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
         }
         */
